/* Estilo generales*/
body {
    background-color: #f4f9ff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*layout general*/
.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}


/*navbar*/
.navbar {
    background-color: #fd0d0d;
}

.navbar-brand,
.nav-link,
.nav-link:visited {
    color: #066779 !important;
}

.nav-link:hover {
    opacity: 0.8;
}


/*hero*/
.hero {
    background: linear-gradient(
                rgba(18, 153, 0, 0.7),
                rgba(1, 56, 167, 0.7)
              ),
              url('https://images.pexels.com/photos/358070/pexels-photo-358070.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 160px 0;
    text-align: center;
}


/*Cartas*/
.card-img-top {
    height: 180px;
    object-fit: cover;
}


/*Botones*/
.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}


/*Footer*/
footer {
    background-color: #fd0df1;
    color: white;
    padding: 15px 0;
    text-align: center;
    margin-top: 40px;
}


/*Contacto*/

.contacto-card {
    border-radius: 10px;
}

.contacto-form .form-control {
    border-radius: 6px;
}

.contacto-form button {
    padding: 10px;
    font-size: 16px;
}


/*Responsive*/
@media (max-width: 768px) {
    .hero {
        padding: 50px 20px;
    }

    .contacto-card {
        margin-top: 10px;
    }
}
